<div class="account section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form border p-5">
          <div class="text-center heading">
            <h2 class="mb-2">Login</h2>
            <p class="lead">Don’t have an account? <a href="#">Create a free account</a></p>
          </div>

          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-4">
              <label for="email">Enter email</label>
              <input id="email" type="text" formControlName="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group mb-3">
              <label for="firstname">Enter your first name</label>
              <input id="firstname" type="text" formControlName="firstname"  class="form-control" placeholder="Enter your first name">
            </div>
            <div class="form-group mb-3">
              <label for="secondname">Enter your second name</label>
              <a class="float-right" href="">Forget password?</a>
              <input id="secondname" type="text" formControlName="secondname" class="form-control" placeholder="Enter your second name">
            </div>
            <div class="form-group">
              <label for="password">Enter Password</label>
              <input id="password" type="text" formControlName="password" class="form-control" placeholder="Enter Password"> 
            </div>
            <div class="form-group">
              <label for="secondpassword">Confirm Password</label>
              <input id="secondpassword" type="text" formControlName="secondpassword" class="form-control" placeholder="Confirm Password">
            </div>

            <button type="submit" [disabled]="!signupForm.valid || isSubmitting" class="btn btn-main mt-3 btn-block" style="margin-right:15px; background-color: #F67952;">
              {{ isSubmitting ? 'Submitting...' : 'Submit' }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
