<div class="navbar d-flex justify-content-center">
  <div class="nav-wrapper col-8">
    <h1>
      E-commerce
    </h1>
  </div>
</div>

<div class="content col-12 row d-flex justify-content-center gx-0 gy-0">

  <!-- Footer -->
  <footer class="container d-flex justify-content-center">
      <div class="container-lg row col-8">
        <div class="footer-text col-6">
          <h2 class="footer-text footer-title">
            E-commerce
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit malesuada dapibus ut pulvinar neque arcu,
            commodo. Pharetra nisi egestas nisi fermentum. Sollicitudin egestas senectus pellentesque enim mauris vel
            odio commodo. Pellentesque orci vestibulum sed in molestie consequat.
          </p>
        </div>
        <div class="footer-text footer-info col-6 row">
          <div class="footer-contact col-6">
            <h3 class="footer-title">
              Contact us
            </h3>
            <p>

            </p>
          </div>
          <div class="footer-contact col-6">
            <h3 class="footer-title">
              About us
            </h3>
            <p>

            </p>
          </div>
        </div>
      </div>
  </footer>

</div>


<router-outlet></router-outlet>
